<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="plugin.huaweiAnalyticsKit">

    <application>
        <meta-data
            android:name="install_channel"
            android:value="AppGallery">
        </meta-data>
    </application>

</manifest>
